//colors
$darkColor: #0B3C49;
$accentColor: #731963;
$bgColor: #FFFDFD;
$lightColor: #CBD2D0;
$secondLightColor: #FFA3A3;
$energeticColor: #F0E100;


body{
  background-color: $bgColor;
  font-family: 'Lato', sans-serif;
}
.mainHeader, footer{
  background-color: $darkColor;
}

header, footer{
  color:white;
  text-align: center;
}

h1{
  font-family: 'Raleway', sans-serif;
}


//sections
#fourPics{
  color: $darkColor;
  background-color: $secondLightColor;
}
.imgRound{
  border-radius: 5px;
}