//colors
$darkColor: #0B3C49;
$accentColor: #731963;
$bgColor: #FFFDFD;
$lightColor: #CBD2D0;
$secondLightColor: #FFA3A3;
$energeticColor: #F0E100;


body{
  background-color: $bgColor;
  font-family: 'Lato', sans-serif;
}

.mainHeader, footer{
  background-color: $lightColor;
}

header, footer{
  color:#0B3C49;
  text-align: center;
}

.dropdown-item{
  color:$darkColor;
}

h1{
  font-family: 'Raleway', sans-serif;
}

//sections
section{
  min-height: 100vh;
  border-bottom: 2px solid $accentColor;

}
section header h1{
  color:$darkColor;
  padding:2rem 0;
  text-transform: uppercase;
  text-align: center;
}

.jumbotron{
  margin-bottom: 0;
}

.learnMoreBtn{
  background-color: $energeticColor;
  color:$darkColor;
  -webkit-box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.6);
  -moz-box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.6);
  box-shadow: 3px 3px 6px 2px rgba(0,0,0,0.6);
}

#else{
  background-color: $lightColor;
}

#else h3{
  padding:2rem 0;
  margin-bottom: 0;
}

#fourPics{
  color: $darkColor;
  background-color: $secondLightColor;
}
.imgRound{
  border-radius: 5px;
}

#tableSection{
  background-color:$darkColor;
  color:$bgColor;
}
#tableSection header h1{
  color:$bgColor;
}
